<h1 mat-dialog-title>{{titleAccion}} Tecnico</h1>
<div mat-dialog-content>
  <form [formGroup]="formTechnician">
    <mat-grid-list cols="1" rowHeight="80px">

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Codigo</mat-label>
          <input matInput  formControlName="code" autocomplete="off">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput  formControlName="name" autocomplete="off">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Salary</mat-label>
          <input matInput  formControlName="salary" autocomplete="off" type="number">
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>
    <button mat-raised-button (click)="agregarItem()">Agregar Elemento</button>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close color="warn">Volver</button>
  <button mat-raised-button  color="primary"
  (click)="addTechnician()"
  [disabled]="formTechnician.invalid"
  >
    {{buttonAccion}}
  </button>
</div>
